.nav-link-routes {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-left: 32px;
}

.nav-link-item {
    margin: 16px;
}

.header-custom {
    display: flex;
    flex-direction: row;
}

.title-page {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 16px;
}